body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* https://www.w3schools.com/howto/howto_css_table_center.asp */
.bubble-table-possibly-centered {
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
