#!/bin/bash

# call "direnv allow ." to activate

# devconsole: https://console.cloud.google.com/artifacts/docker/cicd-platinum-test031/us-central1/my-skaffold-cornucopia/sku-vanilla-app-image?e=-13802955

#SKAFFOLD_DEFAULT_REPO="us-central1-docker.pkg.dev/cicd-platinum-test031/my-skaffold-cornucopia"
# pulumi approved :) https://www.pulumi.com/registry/packages/gcp/installation-configuration/
export CLOUDSDK_CORE_PROJECT='cicd-platinum-test031'
export GOOGLE_REGION='europe-west2'

# from `skaffold.yaml` I wish I could get it without grepping - JQ/YQ?
export SKAFFOLD_CLOUD_REGION='asia-southeast2'
export SKAFFOLD_DEFAULT_REPO_FOR_DEV='gke_cicd-platinum-test031_us-central1_cicd-dev'
export SKAFFOLD_DEFAULT_REPO_FOR_PROD='gke_cicd-platinum-test031_us-central1_cicd-prod'
export SKAFFOLD_DEFAULT_REPO_FOR_CLOUDRUN='us-central1-docker.pkg.dev/cicd-platinum-test031/my-skaffold-cornucopia/sku-vanilla-app-image'

export LAUNCHING_HOSTNAME=`hostname`


# this breaks everything!
#export KUBECONFIG='gke_cicd-platinum-test031_us-central1_cicd-dev'

#####################################
# DERIVED
export PROJECT_ID="$CLOUDSDK_CORE_PROJECT"
export GOOGLE_CLOUD_PROJECT="$CLOUDSDK_CORE_PROJECT"
export GCLOUD_PROJECT="$CLOUDSDK_CORE_PROJECT"
export GOOGLE_PROJECT="$CLOUDSDK_CORE_PROJECT"

echo '⏯️ [.envrc] Riccardo, this is activated!'
