/*
    Added by ricc to test SASS: https://dev.to/elvelive/setting-up-sass-in-an-express-app-jk4
*/
$color_riccardo_title: navy;

h1 {
  color: $color_riccardo_title;
}


/*
   copied from https://jsfiddle.net/paulhumaan/3tjaf0yL/131/
*/


body {
    background-color: #f8f8f8;
    padding: 40px;
    /*text-align: center; */
  }

  .bubble {
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    padding: .8em 1em .7em;
    font-size: 1.35em;
    color: black;
    white-space: nowrap;
    position: relative;

    &__inner {
      position: relative;
      z-index: 2;

      &::selection {
        background-color: black;
        color: white;
      }
    }

    svg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: auto;
          display: block;
      }

  }

