extends layout


block content
  // pug cheatsheet: https://devhints.io/pug
  //h1= title

  //h1= 'bubble include'
  include includes/bubble.pug
  +bubble-include(occasional_message, speaker_name, bubble_image_src, 0)

