extends layout


block content
  // pug cheatsheet: https://devhints.io/pug
  h1= title
  p Bubble example. Copied from this article and this code.
  p Article: https://www.humaan.com/blog/creating-comic-book-speech-bubbles-with-svg-and-javascript/
  p code: https://jsfiddle.net/paulhumaan/3tjaf0yL/131/
  a(href="https://jsfiddle.net/paulhumaan/3tjaf0yL/131/") 🔗 JSFiddle example

  h2= 'Bubble (ricc says)'
  p Here is your parametric bubble:

  table(border='0', style='valign=center')
    tr
      td
        div#riccardo_id.bubble
          div.bubble__inner.
            <b>#{OCCASIONAL_MESSAGE}</b><br/>
            <i>(#{SPEAKER_NAME})</i>
    tr
      td
        //img(src='./images/ricc-says-movember.jpg', height='300')
        img(src='./images/ricc-says-indonesia.jpg', height='300')
