extends layout

block content
  h1= title
  p Welcome to #{title}
  p "Riccardo TODO(ricc): when you can continue, continue from here: https://expressjs.com/en/starter/basic-routing.html"
  h2= 'ciao'
  p 42
