doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    // explination: https://stackoverflow.com/questions/24582338/how-can-i-include-css-files-using-node-express-and-ejs
    //<link rel="stylesheet" type="text/css" href="css/style.css" />
    // npm run scss -> sass --watch src/scss/main.scss public/styles/main.css
    link(rel='stylesheet', href='/stylesheets/main.css')
    // help the CSS doesnt work, and Im pretty sure its also not calling the JS stuff.
    // https://pugjs.org/language/includes.html
  body
    include includes/header.pug
    block content
    include includes/footer.pug
    //- This inlcude of bubble-js need to be done AFTER the contnet was loaded - so you make sure that necessary DOM elements for the bubble script allready exists
    //- alternativly you can execute your JS explictly after the DOM tree is loaded with document.onload = function ... inside the js file
    //- if bubblejs_filecontent
      // p YAY include includes/bubble-js.pug
      //- include includes/bubble-js.pug
    <script src="/js/bubble.js" defer></script>
    //- else
    //-   p No include includes/bubble-js.pug

