doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    // explination: https://stackoverflow.com/questions/24582338/how-can-i-include-css-files-using-node-express-and-ejs
    //<link rel="stylesheet" type="text/css" href="css/style.css" />
    // npm run scss -> sass --watch src/scss/main.scss public/styles/main.css
    link(rel='stylesheet', href='/stylesheets/main.css')
    // help the CSS doesnt work, and Im pretty sure its also not calling the JS stuff.
    // https://pugjs.org/language/includes.html
    script(src='/js/bubble.js', type='text/javascript')
  body
    // https://pugjs.org/language/plain-text.html
    if bubblejs_filecontent
      p YAY include includes/bubble-js.pug
      include includes/bubble-js.pug
    else
      p No include includes/bubble-js.pug
    include includes/header.pug
    block content
    include includes/footer.pug

